/* base */
@import '../base/base.css';
@import '../base/responsive.css';

/* 3rd-party */
@import '../bootstrap/bootstrap-grid.min.css';

/* components */
@import '../components/button.css';
@import '../components/footer.css';
@import '../components/header.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header start */
/* header end */

/* hero start */
/* hero end */

/* calendar start */
/* calendar end */

/* course carousel start */
/* course carousel end */

/* course syllabus start */
/* course syllabus end */

/* course benefit start */
/* course benefit end */

/* pricing start */
/* pricing end */

/* student reviews start */
/* student reviews end */

/* newsletter start */
/* newsletter end */

/* course instructor start */
/* course instructor end */

/* footer start */
/* footer end */
